@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
  background-color: #eeeeee;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #445964; 
  transition: width 0.3s;
}

a:hover .line {
  width: 100%;
}

.icon-link {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.icon-link:hover {
  transform: scale(1.2);
}

.github:hover {
  color: #24292e;
}

.linkedin:hover {
  color: #0077b5;
}

.instagram:hover {
  color: #E4405F;
}
